.center{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 22px 25px 0 0 gray;
}